__pycache__/
*.pyc
*.log
.vscode/
.env
pgdata/
**/static/videos/
*.mp4
*.avi
*.mkv
*.xlsx
*.pdf
*.db
*.pth
.ipynb_checkpoints/
*.png

App/BackEnd/analytics/datasets/weld/test/ground_truth/
App/BackEnd/analytics/datasets/weld/test/sorted_images/
App/BackEnd/analytics/datasets/weld/test/test/
App/BackEnd/analytics/datasets/weld/test/test_images/
App/BackEnd/analytics/datasets/weld/test/video_frames/
App/BackEnd/analytics/datasets/weld/train/sorted_images/
App/BackEnd/analytics/datasets/weld/val/
App/BackEnd/analytics/weld_result/