fastapi
uvicorn
sqlalchemy
psycopg2-binary
pydantic
requests
pyjwt
bcrypt==4.0.1
passlib[bcrypt]
python-multipart
pydantic-settings
pandas
fpdf
openpyxl
reportlab
jinja2
torch
torchvision
tqdm
scikit-learn
matplotlib
numpy
scipy
scikit-image
opencv-python